	
	/* Header */

header{
	background-color: var(--color-light-orange);
	margin-bottom: 2px;
	h1, h2, p{
		color: var(--color-x-dark-orange);
	}
}

	/* Nav */

#page-highlight{
	background-color: var(--color-light-orange);
	a{
		color: var(--color-x-dark-orange);
	}
}

/* Portfolio Blocks */

.portfolio-blocks:hover{
	.portfolio-label{
		background-color: var(--color-light-orange);
		border: var(--color-dark-orange) 2px solid;
		p{
			color: var(--color-x-dark-orange);
		}
		.portfolio-divider{
			background-color: var(--color-dark-orange);
		}
	}

}

@media (min-width: 1100px) {

	.inline-links{
		grid-template-columns: repeat(6, 1fr);
		padding: var(--size-3);
	}

	#wide-block{
		grid-column: span 3;
		max-width: none;
		min-width: 0;
		width: 100%;
		.portfolio-cover-image{
			width: 100%;
			grid-column: span 3;
		}
		.portfolio-blocks{
			max-width: none;
			min-width: none;
		}
	}

	#medium-block{
		grid-column: span 2;
		max-width: none;
		min-width: 0;
		width: 100%;
		.portfolio-cover-image{
			width: 100%;
			grid-column: span 2;
		}
		.portfolio-blocks{
			max-width: none;
			min-width: none;
		}
	}
}
