html {
	scroll-behavior: smooth;
}

	/* Header */

header{
	padding: var(--size-2);
	background-color: var(--color-light);
	margin-bottom: 2px;
	display: flex;
	svg{
		padding-left: var(--size-1);
	}
	h1{
		color: var(--color-dark);
	}
}

	/* Fonts */

h2{
	color: var(--color-dark)
}

h4{
	margin-bottom: 12px;
}

p{
	max-width: 65ch;
}

#intro-video{
	width: 100%;
	display: inline-block;
	video{
		width: 100%;
		height: auto;
		display: block;
	}
}