
/* Variables */

:root {

	/* Sizes */

	--size-1: 16px;
	--size-2: 24px;
	--size-3: 32px;
	--size-4: 48px;
	--size-5: 64px;
	--size-6: 80px;
	--size-7: 96px;
	--size-8: 112px;
	--size-9: 144px;
	--size-10: 160px;

	/* Colors */

	--color-dark: #0e0b0b;
	--color-light: #f8f8f8;
	--color-yellow: #d9d960;
	--color-blue: #1772c2;

	/* Colors */
	--font-1: "Anton", serif;

}

body{
	background-color: var(--color-dark);
	font-family: var(--font-1);
}

header{
	background-color: var(--color-yellow);
	padding: var(--size-4);
	padding-block: var(--size-2);
	text-transform: uppercase;
}

h1{
	color: var(--color-dark);
	font-size: var(--size-8);
	line-height: var(--size-8);
}

h2{
	color:var(--color-yellow);
	font-size: var(--size-5);
	line-height: var(--size-6);
	padding-inline: var(--size-4);
}

section{
	block-size: 75vh;
}

p{
	color:var(--color-light);
	font-size: var(--size-1);
	padding-inline: var(--size-4);
}

footer{
	padding-block: var(--size-2);
	background-color: var(--color-blue);
}

@media (min-width: 600px) {

	:root{

	/* Sizes */

	--size-1: 20px;
	--size-2: 32px;
	--size-3: 48px;
	--size-4: 64px;
	--size-5: 80px;
	--size-6: 96px;
	--size-7: 112px;
	--size-8: 144px;
	--size-9: 160px;
	--size-10: 176px;

	}
}