
/* Variables */

:root {

	/* Sizes */

	--size-0: 8px;
	--size-1: 16px;
	--size-2: 24px;
	--size-3: 32px;
	--size-4: 48px;
	--size-5: 64px;
	--size-6: 80px;
	--size-7: 96px;
	--size-8: 112px;
	--size-9: 144px;
	--size-10: 160px;

	/* Colors */

	--color-dark: #04232A;
	--color-light: #ffff;
	--color-light-grey: #E9E9E9;

	--color-light-blue: #0C76CC;
	--color-dark-blue: #00579D;
	--color-x-dark-blue: #0A3252;

	--color-light-pink: #EAC2D6;
	--color-dark-pink: #DE9EBE;
	--color-x-dark-pink: #943A67;

	--color-light-green: #C0C89D;
	--color-dark-green: #9EAA69;
	--color-x-dark-green: #606D29;

	--color-light-orange: #E06056;
	--color-dark-orange: #BB463D;
	--color-x-dark-orange: #852119;

	--color-light-sand: #F5F0E8;
	--color-dark-sand: #EEE7DE;

	/* Fonts */
	--font-1: "aktiv-grotesk", sans-serif;
	--font-2: "Instrument Serif", serif;
}

body{
	background-color: var(--color-light-grey);
	font-family: var(--font-1);
	overscroll-behavior: none;
}

	/* Fonts */

h1{
	font-family: var(--font-2);
	font-size: var(--size-5);
	line-height: 2ch;
	margin-bottom: var(--size-1);
}

h2{
	color: var(--color-dark-orange);
	font-size: var(--size-1);
	line-height: 2ch;
}

h3{
	font-size: var(--size-1);
}

p{
	color: var(--color-dark);
	font-size: var(--size-1);
	line-height: 2ch;
}

em{
	font-style: italic;
}

	/* Nav */

nav{
	background-color: var(--color-light-grey);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center; 
	gap: 2px;
	height: 62px;
	overflow-x: auto;
	scrollbar-width: none; 
}

.nav-item{
	background-color: var(--color-light);
	padding: var(--size-1);
	flex-grow: 1;
	text-align: center;
	transition: 0.4s ease-in-out;
	a{
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 100;
		width: 100%;
	}
}

.nav-logo {
	display: none;
}

.nav-item:hover{
	background-color: var(--color-light-grey);
}

#page-highlight{
	background-color: var(--color-light-orange);
	a{
		color: var(--color-x-dark-orange);
	}
}

	/* Header */

header{
	padding: var(--size-2);
	background-color: var(--color-light-orange);
	margin-bottom: 2px;
	h2{
		color: var(--color-x-dark-orange);
	}
	h1{
		color: var(--color-x-dark-orange);
	}
}

#logo-animation{
	padding: 80px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-light);
	margin-bottom: 2px;
	position: relative;
	overflow-x: hidden;
	img{
		position: absolute;
		height: 150px;
		animation: slide 20s ease-in-out infinite;
	}
}

@keyframes slide {
	0% {
		left: 0; 
		transform: rotate(0deg);
		}
	50% {
		left: 100%;
		transform: rotate(180deg); 
		}
	100% {
		left: 0;
		transform: rotate(360deg);
		}
	}

	/* Portfolio Blocks */

.inline-links{
	background-color: var(--color-light);
	padding: var(--size-1);
	display: grid;
	grid-template-columns: repeat(1, auto);
	justify-content: center;	
	gap: var(--size-1);
	align-items: start;
}

.portfolio-blocks{
	text-align: center;
	height: 500px;
	background-color: var(--color-light);
	border: var(--color-light-grey) solid 2px;
	max-width: 360px;
	min-width: 343px;
	position: relative;
}

.portfolio-cover-image{
	margin-bottom: var(--size-1);
	overflow: hidden;
}

.portfolio-cover-image img{
	width: 100%;  
	height: 100%;
	object-fit: cover; 
	object-position: center;
	display: block;
}

.portfolio-label{
	padding: 6px;
	padding-top: 8px;
	background-color: var(--color-light);
	border: var(--color-light-grey) solid 2px;
	position: absolute;
	bottom: var(--size-0);
	right: var(--size-0);
	display: flex;
	flex-direction: row;
	border-radius: var(--size-0);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
	transition: 0.4s ease-in-out;
	justify-content: center;
	align-items: center;
	p{
		font-size: calc(var(--size-1)*.8);
		flex-grow: 1;
		padding-inline: 6px;
		transition: 0.4s ease-in-out;
	}
}

.portfolio-blocks:hover{
	.portfolio-label{
		background-color: var(--color-light-orange);
		border: var(--color-dark-orange) 2px solid;
		p{
			padding-inline: 8px;
			color: var(--color-x-dark-orange);
		}
		.portfolio-divider{
			background-color: var(--color-dark-orange);
		}
	}
}

.portfolio-divider{
	border: 0;
	width: 2px;
	height: var(--size-1);
	background-color: var(--color-light-grey); 
	transition: 0.4s ease-in-out;
}

	/* Footer */

footer{
	padding: var(--size-2);
	background-color: var(--color-light);
	margin-top: 2px;
}


@media (min-width: 768px) {

	:root{

	/* Sizes */

	--size-0: 16px;
	--size-1: 20px;
	--size-2: 32px;
	--size-3: 48px;
	--size-4: 64px;
	--size-5: 80px;
	--size-6: 96px;
	--size-7: 112px;
	--size-8: 144px;
	--size-9: 160px;
	--size-10: 176px;

	}

	body{
		display: grid;
		grid-template-columns: 80px 1fr;
	}

	.body-content{
		margin-left: 2px;
	}

	nav{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center; 
		gap: 2px;
		position: relative;
		height: 100%;
	}
	
	.nav-item{
		width: 100%;
		padding: var(--size-2);
		display: block;
		-webkit-writing-mode: vertical-rl;
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		text-align: center;
		display: flex;
		justify-content: center; 
		align-items: center;
		flex-grow: 0;
		a{
			font-size: var(--size-0);
			line-height: 2ch;
		}
	}

	.nav-logo{
		display: block;
		margin-top: var(--size-1);
		width: 48px;
		position: sticky;
		top: 700px;
		position: fixed;
		z-index: 1800;
	}
	
	.inline-links{
		grid-template-columns: repeat(2, auto);
	}
}

@media (min-width: 1100px) {
	
	h1{
		font-family: var(--font-2);
		font-size: var(--size-8);
		line-height: 2ch;
	}
	
	h2{
		color: var(--color-dark-orange);
		font-size: var(--size-2);
		line-height: 2ch;
		max-width: 70vw;
	}

	.inline-links{
		grid-template-columns: repeat(3, auto);
		padding-top: var(--size-4);
		padding-bottom: var(--size-4);
	}

}

@media (min-width: 1440px) {
	.inline-links{
		grid-template-columns: repeat(4, auto);
	}

}



