	

html {
	scroll-behavior: smooth;
}

	/* Header */

header{
	padding: var(--size-2);
	background-color: var(--color-light);
	margin-bottom: 2px;
	display: flex;
	svg{
		padding-left: var(--size-1);
	}
	h1{
		color: var(--color-dark);
	}
}

	/* Fonts */

h1{
	font-family: var(--font-1);
	font-size: var(--size-3);
	margin-bottom: 0;
	color: var(--color-dark);
}

h2{
	color: var(--color-dark)
}

h4{
	margin-bottom: var(--size-1)
}

p{
	max-width: 65ch;
}

	/* Mini Nav */

.mini-nav{
	padding: 17.7px;
	background-color: var(--color-light);
	position: sticky;
	top: 0px;
	border-bottom: var(--color-light-grey) solid 2px;
	overflow: hidden;
	overflow-x: auto;
	scrollbar-width: none; 
	ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: var(--size-1);
	}
	a{
		color: var(--color-dark-grey);
		font-size: 12px;
		text-wrap: nowrap;
	}
}

.mini-nav a:hover{
	color: var(--color-dark);	
}

.mini-nav a:active{
	color: var(--color-dark);	
}

	/* Page Layout */

.case-study-section{
	background-color: var(--color-light);
	p{
		padding-top: var(--size-0);
	}
}

.case-study-image{
	object-fit: cover; 
	object-position: center;
	height: 100%;
	max-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--size-1);
	border-right: none;
	border-bottom: var(--color-light-grey) solid 2px;
}

#case-study-image-right{
	img{
		width: 100%;  
		height: 100%;
		object-fit: cover; 
		object-position: center;
		display: block;
		padding: 0px;
		overflow: hidden;
	}
}

.case-study-info{
	padding: var(--size-3);
	background-color: var(--color-light);
}

#intro-section{
	margin-top: 2px;
}

#problem-section{
	margin-top: 2px;
}

.bullet-point{
	display: flex;
	margin-bottom: var(--size-0);
	p{
		padding-top: 0px;
	}
}

.number-point{
	padding: 8px;
	border: var(--color-light-grey) 2px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--size-3);
	width: var(--size-3);
	border-radius: 8px;
}

.word-point {
	padding: 12px;
	p{
		margin-top: 2px;
	}
}

@media (min-width: 768px) {

	header{
		padding: var(--size-3);
	}

	h1{
		font-size: var(--size-3);
	}

	.case-study-section{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.case-study-image{
		height: 100%;
		max-height: 700px;
		border-right: var(--color-light-grey) solid 2px;
		border-bottom: none;
		padding: 0px;
	}

	#case-study-image-right{
		border-right: none;
		border-left: var(--color-light-grey) solid 2px;
	}

	.mini-nav{
		padding-left: var(--size-3);
		a{
			font-size: 16px;
		}
		ul{
			gap: var(--size-3)
		}
	}
}
