	

html {
	scroll-behavior: smooth;
}

	/* Header */

header{
	padding: var(--size-1);
	background-color: var(--color-light);
	margin-bottom: 2px;
	display: flex;
	svg{
		padding-left: var(--size-1);
	}
	h1{
		color: var(--color-dark);
	}
}

	/* Fonts */

h2{
	color: var(--color-dark)
}

p{
	max-width: 65ch;
}

	/* Mini Nav */

.mini-nav{
	padding: 17.7px;
	background-color: var(--color-light);
	position: sticky;
	top: 0px;
	border-bottom: var(--color-light-grey) solid 2px;
	overflow: hidden;
	overflow-x: auto;
	scrollbar-width: none;
	border-radius: 8px; 
	ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: var(--size-1);
	}
	a{
		color: var(--color-dark-grey);
		font-size: 12px;
		text-wrap: nowrap;
	}
}

.mini-nav a:hover{
	color: var(--color-dark);	
}

.mini-nav a:active{
	color: #2652E9;
}

.mini-nav a.active {
	color: #2652E9;
	border-bottom: 1px solid #2652E9;
}

	/* Intro Section */

#intro-video{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	video{
		object-fit: cover;
		overflow: hidden;
		width: 100%;
  		height: 100%;
	}
}

#intro-section{
	em{
		color: #2652E9;
	}
}

	/* Page Layout */

.case-study-section{
	background-color: var(--color-light);
	padding: var(--size-1);
}

.case-study-image{
	object-fit: cover; 
	object-position: center;
	height: 100%;
	max-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--size-1);
	border-right: none;
	border-bottom: var(--color-light-grey) solid 2px;
}

.case-study-info{
	background-color: var(--color-light);
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
	padding-top: var(--size-1);
	br{
		height: 4px;;
	}
}

#problem-section, #research-section{
	display: flex;
	flex-direction: column;
	gap: var(--size-2);
}

.bullet-point{
	display: flex;
	margin-top: var(--size-0);
	gap: 16px;
}

.line-container {
	padding-bottom: var(--size-3);
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.horizontal-line {
	width: 100%;
	height: 2px;
	background-color: var(--color-light-grey);
  }

/* User Interviews */

.users{
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
	flex-wrap: wrap;
}

.one-user{
	display: flex;
	flex: 1 1 300px;
	flex-direction: column;
	gap: var(--size-1);
	img{
		width: 320px;
		height: 320px;
		object-fit: cover;
		overflow: hidden;
	}
}

.user-text{
	display: flex;
	flex-direction: column;
	h3{
		color: #2652E9;
	}
}

.user-description{
	p{
		color: var(--color-dark-grey);
	}
}

.quote{
	p{
		font-size: var(--size-1);
	}
	padding-bottom: var(--size-0);
}

.vertical-line {
	width: 2px;
	height: 80px; 
	background-color: var(--color-light-grey);
}

/* Ideation */

.sketches{
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
	flex-wrap: wrap;
}

.one-sketch{
	display: flex;
	flex: 1 1 300px;
	flex-direction: column;
	gap: var(--size-1);
	img{
		min-width: 320px;
		min-height: 320px;
		object-fit: cover;
		overflow: hidden;
	}
}

.sketch-text{
	display: flex;
	flex-direction: column;
	h3{
		color: #2652E9;
	}
}

.idea{
	padding: var(--size-0);
	display: flex;
	width: fit-content;
	padding-top: 12px;
	border: 2px var(--color-light-grey) solid;
}

/* Low-fidelity */

.wide-image{
	padding: var(--size-1);
	background-color: var(--color-light-grey);
}

/* High-fidelity */

.figma-embed{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	iframe{
		width: 100%;
		height: 100%;
		border: none;
	}
}

#low-fidelity-section, #high-fidelity-section{
	display: flex;
	flex-direction: column;	
	gap: var(--size-1);
}

@media (min-width: 768px) {

	header{
		padding: var(--size-3);
		h1{
			font-size: var(--size-3);
		}
	}

	p{
		font-size: calc(var(--size-1) * .8);
	}
	

	/* Intro Section */

	#intro-section{
		align-items: center;
		justify-content: center;
		padding: var(--size-3);
	}

	#intro-text{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* Page Layout */

	.case-study-section{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding-top: var(--size-10);
	}
	
	.line-container {
		padding-bottom: var(--size-10);
	}

	.case-study-info{
		padding: var(--size-3);
		padding-top: 0px;
		padding-bottom: 0px;
	}

	#problem-grid{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--size-5);
	}

	#research-section, #ideation-section, #low-fidelity-section, #high-fidelity-section, #testing-section{
		grid-template-columns: repeat(1, 1fr);	
		gap: var(--size-1);
	}

	.users{
		flex-direction: row;
	}

	.sketches{
		flex-direction: row;
	}

	.idea{
		padding: var(--size-1);
		padding-top: 24px;
	}

	.mini-nav{
		padding-left: var(--size-3);
		a{
			font-size: 16px;
		}
		ul{
			gap: var(--size-3)
		}
	}

	.wide-image{
		padding: var(--size-3);
	}
}
