	

html {
	scroll-behavior: smooth;
}

	/* Header */

header{
	padding: var(--size-1);
	background-color: var(--color-light);
	margin-bottom: 8px;
	display: flex;
	flex-direction: row;
	height: auto;
	gap: var(--size-2);
	div{
		display: flex;
		justify-content: end;
		flex-direction: column;
	}
	svg{
		padding-left: var(--size-1);
	}
	h1{
		color: var(--color-dark);
	}
}


.header-long-title{
	gap: 8px;
	h1{
		font-size: var(--size-3);
		width: 70vw;
	}
	align-items: flex-end
}

	/* Fonts */

h2{
	color: var(--color-dark)
}

h4{
	padding-bottom: 8px;
}

p{
	max-width: 65ch;
}

	/* Mini Nav */

.mini-nav{
	padding: var(--size-2);
	background-color: var(--color-light);
	position: sticky;
	top: 0px;
	overflow: hidden;
	overflow-x: auto;
	scrollbar-width: none;
	border-radius: var(--size-1);
	margin-bottom: 8px;
	transition: all 0.5s ease;
	z-index: 1000;  
	ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: var(--size-1);
		transition: justify-content 1.2s ease-in-out, transform 1.2s ease-in-out;
	}
	a{
		color: var(--color-dark);
		font-family: var(--font-2);
		font-size: 12px;
		text-wrap: nowrap;
		opacity: 25%;
	}
}

#last-item{
	padding-right: 24px;
}

	.mini-nav.scrolled {
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
		background: rgba(255, 255, 255, 0.3); 
		border: 1px solid var(--color-light-grey);
		transition: all 0.3s ease;
		padding: 16px;
		border-radius: 0px 0px 8px 8px;
	}

.mini-nav a:hover{
	opacity: 50%;
}

.mini-nav a:active{
	opacity: 100%;
}

.mini-nav a.active {
	opacity: 100%;
}

.image-section{
	align-items: center;
	justify-content: center;	
	padding: 0px;
}

.two-image{
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 8px;
}

#half-width-image{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--size-1);
	height: 80vh;
	width: 100%;
	img{
		object-fit: cover;
		overflow: hidden;
		width: 100%;
  		height: 100%;
	}
	video{
		object-fit: cover;
		display: block;
		width: 102%;
		height: 103%;
		margin: 0;	
	}
}

	/* Intro Section */
	
#full-width-image{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--size-1);
	height: 30vh;
	margin-bottom: 8px;
	img{
		object-fit: cover;
		overflow: hidden;
		width: 100%;
  		height: 100%;
	}
	video{
		object-fit: cover;
		display: block;
		width: 102%;
		height: 103%;
		margin: 0;	
	}
}

.image-section-padding{
	padding: var(--size-2);
	background-color: var(--color-light);
}

	/* Page Layout */

.case-study-section{
	background-color: var(--color-light);
	padding: var(--size-2);
	padding-bottom: var(--size-3);
	border-radius: var(--size-1);
	border-radius: var(--size-1);
	margin-bottom: 8px;
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
	ul {
		list-style-type: disc;
		padding-left: var(--size-1); 
	}
	li{
		color: var(--color-dark);
		font-size: 16px;
		font-family: var(--font-3);
		margin-bottom: 8px;
	}
}

.case-study-section, .image-section, .two-image{
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.case-study-section.visible, .image-section.visible, .two-image.visible {
	opacity: 1;
	transform: translateY(0);
}

.case-study-image{
	object-fit: cover; 
	object-position: center;
	height: 100%;
	max-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--size-1);
	border-right: none;
	border-bottom: var(--color-light-grey) solid 2px;
}

.case-study-info{
	background-color: var(--color-light);
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
	div{
		display: flex;
		flex-direction: column;
		gap: var(--size-3);
	}
	.snippet{
		display: flex;
		flex-direction: column;
		gap: var(--size-0);
	}
}

#problem-section, #research-section{
	display: flex;
	flex-direction: column;
	gap: var(--size-2);
	img{
		border-radius: 16px;
	}
}

#research-section{
	p{
		font-size: 16px;
		max-width: 250px;
	}
	#large-size-body{
		font-size: 20px;
		max-width: 65ch;
	}
}

.bullet-point{
	display: flex;
	margin-top: var(--size-0);
	gap: 16px;
}

.line-container {
	padding-bottom: var(--size-3);
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.horizontal-line {
	width: 100%;
	height: 2px;
	background-color: var(--color-light-grey);
  }

/* User Interviews */

.users{
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
	flex-wrap: wrap;
}

.one-user{
	display: flex;
	flex: 1 1 300px;
	flex-direction: column;
	gap: var(--size-1);
	img{
		width: 300px;
		height: 300px;
		object-fit: cover;
		overflow: hidden;
	}
}

.user-text{
	display: flex;
	flex-direction: column;
}

.user-title{
	display: flex;
	flex-direction: column;
	gap: 8px
}

.vertical-line {
	width: 2px;
	height: 80px; 
	background-color: var(--color-light-grey);
}

/* Quote */

#quote-section{
	display: flex;
	justify-content: center;
	align-items: center;
	h1{
		max-width: 35ch;
		font-size: 4vw;
		text-align: center;
		font-family: var(--font-3);
		font-weight: 100;
	}
}

/* Ideation */

.sketches{
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
	flex-wrap: wrap;
}

.one-sketch{
	display: flex;
	flex: 1 1 300px;
	flex-direction: column;
	gap: var(--size-1);
	img{
		min-width: 320px;
		min-height: 320px;
		object-fit: cover;
		overflow: hidden;
	}
}

.idea{
	padding: var(--size-0);
	display: flex;
	width: fit-content;
	padding-top: 12px;
	border: 2px var(--color-light-grey) solid;
}

/* Low-fidelity */

.wide-image{
	padding: var(--size-1);
	background-color: var(--color-light-grey);
}

#low-fidelity-section, #testing-section{
	img{
		object-fit: cover;
		overflow: hidden;
		border-radius: 16px;
		width: 100%;
		max-width: 1400px;
		height: auto;
		display: block;
	}

}

.feature-block{
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
	h3{
		margin-bottom: 8px;
	}
}

#map-image{
	background-color: white;
	border-radius: 16px;
	padding: var(--size-3);
	object-fit: contain;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		max-height: 100vh;
	}
}

/* High-fidelity */

.figma-embed{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	iframe{
		width: 100%;
		height: 100%;
		border: none;
	}
}

#low-fidelity-section, #testing-section, #high-fidelity-section{
	display: flex;
	flex-direction: column;	
	gap: var(--size-2);
}

/* Branding */
#branding-section{

	.video-frame {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border-radius: var(--size-1);
			video{
				object-fit: cover;
				display: block;
				width: 102%;
				height: 103%;
				margin: 0;
			}
		}
}

@media (min-width: 768px) {

	header{
		padding: var(--size-3);
		h1{
			font-size: var(--size-5);
		}
	}

	.header-long-title{
	gap: 8px;
	h1{
		font-size: var(--size-5);
		width: 75vw;
	}
}

	.case-study-section{
		padding: var(--size-3);
		padding-top: var(--size-5);
		padding-bottom: var(--size-6);
		li{
			font-size: 20px;
		}
	}

	/* Intro Section */

	#intro-text{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.case-study-info{
		background-color: var(--color-light);
		display: flex;
		flex-direction: row;
		gap: var(--size-10);
	}

	/* Low-Fidelity Section */

	#low-fidelity-section, #testing-section{
		gap: var(--size-3);
	}

	.feature-block{
		display: flex;
		flex-direction: row;
		gap: var(--size-3);
		align-items: center;
	}

	#full-width-image{
		height: 100vh;
	}

	.two-image{
		display: flex;
		flex-direction: row;
		gap: 8px;
		margin-bottom: 8px;
	}

	/* Page Layout */

	#problem-grid{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--size-5);
	}

	.users{
		flex-direction: row;
	}

	.sketches{
		flex-direction: row;
	}

	.idea{
		padding: var(--size-1);
		padding-top: 24px;
	}

	.mini-nav{
		padding-left: var(--size-3);
		top: 8px;
		a{
			font-size: 14px;
		}
		ul{
			gap: var(--size-1);
		}
	}

	.mini-nav.scrolled {
		margin-right: 8px;
		margin-left: 8px;
		padding: 24px;
		padding-left: 32px;
		padding-right: 32px;
		transition: all 0.5s ease;
		width: auto;
		display: inline-block;
		border-radius: 0px 0px 20px 20px;
		ul{
			justify-content: center;
			gap: var(--size-1);
		}
	}

	#last-item{
		padding-right: 0px;
	}

	.wide-image{
		padding: var(--size-3);
	}

	.image-section-padding{
		padding: var(--size-6);
		video{
			height: 80%;
		}
	}
}

@media (min-width: 1200px) {

	.mini-nav{
		ul{
			gap: var(--size-3);
		}
	}

	.users{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: var(--size-1);
	}

	.one-user{
		img{
			width: 250;
			height: 250;
		}
	}

	.user-title{
		width: 100%;
	}
}

@media (min-width: 1380px) {
	#intro-section, #problem-section{
		padding: 280px;
		padding-top: var(--size-6);
		padding-bottom: var(--size-8);
	}
}

@media (min-width: 1500px) {

/* User Interviews */

.users{
	gap: var(--size-3);
}

.one-user{
	img{
		width: 300px;
		height: 300px;
	}
}
}