	
	
	/* Header */

/* header{
	background-color: var(--color-dark-pink);
	margin-bottom: 2px;
	h1, h2, p{
		color: var(--color-dark-blue);
	}
}

	/* Nav */
/* 
#page-highlight{
	background-color: var(--color-light-pink);
	a{
		color: var(--color-dark-blue);
	}
}  */

/* Portfolio Blocks */

/* .portfolio-blocks:hover{
	.portfolio-label{
		background-color: var(--color-light-pink);
		border: var(--color-dark-pink) 2px solid;
		p{
			color: var(--color-dark-blue);
		}
		.portfolio-divider{
			background-color: var(--color-dark-pink);
		}
	}

} */

@media (min-width: 1100px) {

	header{
		h1{
			padding-top: var(--size-8);
		}
	}
	
	.inline-links{
		grid-template-columns: repeat(3, 1fr);
		padding-top: var(--size-2);
		padding-bottom: var(--size-2);
	}

	.portfolio-blocks{
		height: 600px;
	}

}