

header{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (min-width: 1100px) {

	
	.inline-links{
		grid-template-columns: repeat(3, 1fr);
	}

	.portfolio-blocks{
		height: 600px;
	}

}